:root {
  --primary: #FE4A73;
  --login: #3f64a8;
  --sight: #800080;
  --white: #fdfdfd;
  --dark: #181717;
  --nav-text-primary: #7e7676;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: var(--dark);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  height: 100vh;
  width: 100vw;
}

/* For the navbar */

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-size: 6em;
  color: var(--white);
  line-height: 0.8em;
  text-align: left;
}

.blog-container  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.blog-container h1 {
  text-align: center;
  margin-bottom: 65px;
  /* font-size: 100px; */
}

.blog-container p {
  font-size: 20px;
  margin-bottom: 35px;

}

h1 span {
  color: var(--primary);
}

hr {
  margin: 20px 0;
  border-top: none;
}

p {
  color: var(--white);
}

.quotes {
  margin-top: 60px;
}

.avatar-username {
  display: flex;
  align-content: center;
}

.avatar-picture {
  width: 25px;
  margin-left: 20px;
  margin-right: 15px;
  border-radius: 50%;
}

.bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

/* .btn-holder:first-child {
  margin-right: 20px;
} */

.floater {
  background: var(--primary);
  position: absolute;
  width: 170px;
  border-radius: 0 130px 130px 0;
  margin: 30px 0 0 -20px;
  padding: 10px;
  text-align: center;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.award-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.award-icon svg {
  color: white;
  width: 25%;
}

#header {
  font-size: 1.2em;
  margin-left: 10px;
}

#story-img {
  width: 300px;
  height: 460px;
  border-radius: 0 130px 0 130px;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.story {
  text-align: right;
  color: var(--white);
  margin-top: 10px;
  font-size: 1.7em;
}

.story p:last-child {
  font-size: .6em;
}

/* Login and Registration */
.authBox {
  width: 700px;
  overflow: hidden;
  margin: 80px auto 30px;
}

.leftBox {
  width: 300px;
  height: 480px;
  float: left;
  position: relative;
  display: block;  
}

.bgColor {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-top-left-radius: 90px;
}

.imageAuth {
  background-image: url("https://cdn6.dissolve.com/p/D430_35_244/D430_35_244_1200.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 90px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.imageTextTop {
  font-size: 28px;
  position: absolute;
  color: var(--white);
  font-weight: bold;
  top: 200px;
  left: 20px;
}

.imageTextBottom {
  font-size: 28px;
  position: absolute;
  color: var(--white);
  top: 250px;
  left: 20px;
}

.rightBox {
  width: 398px;
  height: 478px;
  float: right;
  background-color: var(--white);
  border: 1px solid var(--white);
}

.box {
  width: 310px;
  height: 415px;
  margin: 32px auto;
}

.titleAuth {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--dark);
}

.inputSBox {
  width: 300px;
  height: 42px;
  border-bottom: 2px solid var(--white);
  margin-bottom: 10px;
}

.inputS {
  width: 100%;
  height: 98%;
  font-size: 14px;
  color: #37353f;
  text-indent: 10px;
  border: 0;
  outline: none;
}

.contentBox {
  overflow: hidden;
  height: 42px;
  margin-bottom: 30px;
}

.checkboxBox {
  overflow: hidden;
  float: left;
}

.checkbox {
  float: left;
}

.checkboxLabel {
  float: left;
  font-size: 14px;
  margin-left: 5px;
  color: #37353f;
}

.text1 {
  float: right;
  font-size: 14px;
  color: var(--primary);
  cursor: pointer;
}

.btnAuth {
  width: 300px;
  height: 47px;
  color: var(--white);
  background-color: rgb(18, 161, 78);
  text-align: center;
  line-height: 47px;
  border-radius: 4px;
  cursor: pointer;
}

.borderBox{
  width: 300px;
  height: 47px;
  position: relative;
  margin: 20px 0;
}

.line {
  border-bottom: 2px solid var(--white);
  position: absolute;
  top: 22px;
  width: 100%;
}

.text2 {
  font-size: 14px;
  color: #818487;
}

.text2.or {
  position: absolute;
  top: 14px;
  left: 140px;
  width: 25px;
  height: 16px;
  background-color: var(--white);
  text-align: center;
}

.socialMediaBox {
  overflow: hidden;
  width: 184px;
  height: 47px;
  margin: 0 auto;
}

.icAuth {
  width: 41px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 30px;
  cursor: pointer;
}

.icAuth img {
  width: 41px;
}

.icAuth:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .authBox {
    width: 100%;
  }

  .leftBox {
    display: none;
  }

  .rightBox {
    width: 100%;
    float: initial;
    border: 0;
  }
}

/* Nav bar */

.menu-wrapper {
  max-width: 100vw;
  margin: 0 auto;
}

.nav-area {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  transition: top .6s;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 10;
  overflow: hidden;
}

.logo {
  display: inline-block;
  margin: 0;
}

.logo h2 {
  text-decoration: none;
  color: var(--white);
  font-size: 32px;
  font-family: merienda;
}

.menu-wrapper nav {
  float: right;
}

.right-nav {
  overflow: hidden;
  list-style: none;
}

.right-nav li {
  float: left;
  margin-left: 16px;
}

.right-nav li a {
  color: var(--white);
  text-decoration: none;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
}

/* .banner-area {

} */

.navbar {
  /* width: 5rem;
  position: fixed;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--white);
  transition: 300ms ease;
  overflow: scroll;
  z-index: 100; */
}

.navbar:hover {
  /* width: 16rem; */
}

.navbar:hover .link-text {
  /* display: block; */
}

.nav-links {
  /* list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100% */
}

.nav-item {
  /* width: 100%; */
}

.nav-item-vistor {
  /* width: 100%; */
}

/* Only for authenticated users */
.nav-item:last-child {
  /* position: absolute;
  bottom: 0; */
}

.nav-link {
  /* display: flex;
  align-items: center;
  height: 5rem;
  color: var(--nav-text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed); */
}

.nav-link:hover {
  /* filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary); */
}

.link-text {
  /* display: none;
  margin-left: 1rem; */
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
 color: #ff7eee;
}

.fa-secondary {
 color: #df49a6 
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  /* font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--nav-text-secondary);
  background: var(--nav-bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%; */
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text{
  /* display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed); */
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small Phone screens */
@media screen and (max-width: 600px) {

  /* .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  } */

  .logo {
    display: none;
  }

  .nav-links {
    /* flex-direction: row; */
  }

  .nav-link {
    /* justify-content: center;; */
  }

  /* .inner-pages {
    margin: 0;
  } */
}

/* Large Phone screens */
@media only screen and (min-width: 600px) {
  .navbar {
  }

  .inner-pages{
    /* top: 0; */
    /* height: 100vh; */
  }

  /* .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  } */
}

/* ~~~~~~ Search Bar ~~~~~~~ */

.search-bar{
  width: 90%;
  height: 64px;
  background-color: var(--primary);
  transition: .4s;
}
.search-bar input{
  width: 97%;
  padding: 10px 15px;
  margin-right: 25px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  border-bottom: 3px solid var(--dark);
  color: var(--white);
  transition: .4s;
}
.search-bar input::placeholder{
  color:  var(--white);
  font-family: 'Open Sans',sans-serif;
}
/* .search-bar button:hover{
  color: #212121;
  background-color: #fafafa;
}
.search-bar button{
  padding: 10px 25px;
  border: 2px solid #fafafa;
  background-color: transparent;
  color: #fafafa;
  transition: .4s;
} */

/* Explore Page CSS */

.masonry-holder {
  column-count: 4;
  column-gap: 30px;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

.masonry-holder .masonry-blocks {
  display: inline-block;
  background: var(--dark);
  margin: 0 0 40px;
  width: 100%;
  box-sizing: border-box;
}

.masonry-blocks {
  position: relative;
  width: 300px;
  border-radius: 10%;
}

.masonry-blocks img {
  /* position: sticky; */
  width: 100%;
  border-radius: 10%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.masonry-blocks:hover img {
  opacity: 0;
}

.masonry-blocks-add {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 25%;
  margin-bottom: 25%;
}

.masonry-blocks-add img {
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.masonry-holder .block-content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  transition: 0.5s;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.masonry-holder .block-content p::first-letter {
  font-size: 200%;
  color: var(--primary);
}

.masonry-blocks:hover .block-content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: var(--white);
  border-radius: 10%;
}

.masonry-blocks h3 {
  position: absolute;
  text-align: center;
  bottom: auto;
  width: 100%;
  margin: 5px 0 0px;
  padding: 0;
  font-size: 20px;
  Color: black;
  /* background-color: #b4a8a8; */
}

.masonry-blocks .block-content p {
  margin: 15px 0 0;
  padding: 5px;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.masonry-blocks:hover .block-content p {
  opacity: 1;
  transition-delay: 0.5s;
  color: var(--dark);
}

/* User Profile Page */

.user-box {
  width: 80%;
  height: 600px;
  display: flex;
  margin: 50px 10%;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0 27px 87px rgba(0,0,0,0.37);
}

.user-box-img, .user-box-bio {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.user-box-img img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.user-box-bio {
  padding: 25px;
}

.user-box-bio h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #344934;
  margin-bottom: 25px;
  text-align: left;
  
}

.user-box-bio p {
  margin-bottom: 15px;
  color: var(--dark);
  line-height: 1.5;
}

/*Story form page */

.user-posts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-post-form form textarea {
  width: 100%;
  height: 300px;
  border: 1px solid var(--dark);
  background: white;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.dropdown-container {
  background-color: var(--primary)
} 

/* .user-header {
  background-color: var(--primary);
  height: 175px;
}

.user-header ul {
  padding: 0;
}

.user-header li {
  display: inline;
  padding: 10px;
  padding-top: 60px;
}

.user-center {
  width: 50%;
  float: right;
}

.user-left {
  width: 33%;
  float: left;
}

.user-right {
  width: 33%;
  float: right;
}

.user-info {
  background-color: #b4a8a8;
  height: 200px;
}

*/

/* Story Card page  */

.story-card {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 1000px;
  height: 450px;
  background-color: var(--white);
  box-shadow: 0 50px 90px 0 rgba(32, 37, 58, 0.50);
}

.story-card-left, .story-card-right {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.story-card-left {
  height: 114%;
}

.story-card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-card-left svg {
  position: absolute;
  min-width: 2rem;
}

.chat {
  position: absolute;
  bottom: 110px;
  left: 20px;
  color: #444444;
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}

.chat:hover {
  transform:scale(1.1);
  color: red;
}

.story-card-right {
  padding: 25px;
  overflow: hidden;
}

.story-card-right h2 {
  color: var(--dark);
  margin-bottom: 10px;
  
}

.story-card-right h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: #344934;
  /* margin-bottom: 25px; */
  text-align: center;
  
}

.story-card-right p {
  margin-top: 25px;
  margin-bottom: 15px;
  color: var(--dark);
  line-height: 1.5;
}

.story-card-right p::first-letter {
  font-size: 130%;
  color: var(--primary)
}

.storyBodyScroll {
  margin-left:auto; 
  margin-right:auto; 
  width: 100%; 
  height: 212px; 
  overflow-y: scroll;
}

.storyBody {
  float:left;
  color: #666666;
  width: 100%;
  font-size: 14px; 
  font-weight: bold; 
  border-right: thin dotted #666666; 
  line-height: 18px;
}

.story-navigation {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  /* z-index: 1; */
}

.story-navigation h1 {
  text-transform: uppercase;
  color: #fff;
  background-color: #444444;
  line-height: 40px;
}

nav .story-navigation a {
  position: absolute;
  width: 33.4%;
  height: 50px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  transition: 0.5%;
  transform-origin: bottom;
}

nav .story-navigation svg {
  height: 90%;
  padding-top: 5px;
}

nav .story-navigation i {
  height: 0;
  transition: 0.5s;
}

nav .story-navigation a:hover > i {
  transition-delay: 150ms;
  height: initial;
}

nav .story-navigation svg:hover {
  height: 100%;
  padding-top: 0;
}

nav .story-navigation a:nth-child(2) {
  background-color: aqua;
  left: 0%;
}

nav .story-navigation a:nth-child(3) {
  background-color: greenyellow;
  left: 33.33%;
}

nav .story-navigation a:nth-child(4) {
  background-color: orangered;
  left: 66.66%;
}

.story-card-left .clip {
  clip-path: url('#clip-polygon')
}

.circle {
  position: relative;
  width: 45px;
  height: 45px;
  bottom: 120px;
  left: 14px;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
  animation: animate 2.0s linear infinite;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle::after, .circle::before {
  content: '';
  position: absolute;
  height: 55%;
  width: 55%;
  bottom: 10px;
  left: 10px;
  background-image: linear-gradient(120deg, white, white);
  border-radius: 50%;
}

.circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
}

.circle span:nth-child(1){
  filter: blur(5px);
}

.circle span:nth-child(2){
  filter: blur(10px);
}

.circle span:nth-child(3){
  filter: blur(20px);
}

.circle span:nth-child(4){
  filter: blur(55px);
}

/* Modal CSS */

.modal-wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background: rgba(40, 50, 80, 0.8);
  padding: 0 20px;
  transform: translateY(-50%);
  text-align: center;
}

.modal-wrapper h2 {
  margin-top: 25px;
}

.modal-info-form {
  max-width: 700px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 5px;
  display: flex;
}

.modal-input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.modal-input-fields input{
  font-size: .9em;
}

.modal-input-fields,
.modal-msg {
  width: 48%;
}

.modal-msg {
  height: 350px;
}

.modal-input-fields .modal-input,
.modal-msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--white);
  padding: 10px;
  color: var(--white);
  width: 100%;
}

.modal-msg textarea {
  height: 100%;
  font-size: .9em;
}

.upload-btn {
  color: rgb(168, 161, 161);
  size: 20px;
}

.comments  {
 text-align: center;
 
}

.statement {
  
  width: 300px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.comment-form {
  text-align: center;
}

.comment-form textarea {
  width: 60%;
  height: 50%;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  resize: vertical;
}

.comment-form input[type=text], input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} 

.comment-form input[type=submit] {
  background-color: grey;
  color: white;
  padding: 5px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: right; */
}

::-webkit-input-placeholder {
  color: var(--nav-text-primary);
}

::-moz-input-placeholder {
  color: var(--nav-text-primary);
}

::-ms-input-placeholder {
  color: var(--nav-text-primary);
}

.modal-btn {
  background: #39b7dd;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}

/* Reactive Media Queries */

@media screen and (max-width: 768px) {
  .masonry-holder{
    column-count: 1;
  }

  .masonry-blocks .block-content p {
    padding: 20px;
  }

  .story-card {
    width: 500px;
  }

  .story-card-left {
    height: 114%;
    display: none;
  }

  .story-card-right {
    padding: 25px;
    overflow: hidden;
    width: 100%;
  }

  nav .story-navigation a {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .masonry-holder{
    column-count: 2;
  }

  .masonry-blocks .block-content p {
    padding: 15px;
  }

  .story-card {
    width: 568px;
  }
  nav .story-navigation a {
    font-size: 25px;
  }
  
}

@media screen and (min-width: 1080px) {
  .masonry-holder{
    column-count: 3;
  }

  .masonry-blocks .block-content p {
    padding: 10px;
  }

  .story-card {
    width: 880px;
  }

  
}



@media screen and (min-width: 1200px) {
  .masonry-holder{
    column-count: 4;
  }

  .story-card {
    width: 1000px;
  }
}