:root {
  --primary: #FE4A73;
  --login: #3f64a8;
  --sight: #800080;
  --white: #fdfdfd;
  --dark: #181717;
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: var(--dark);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* For the navbar */
.inner-pages {
  margin-left: 5rem;
  padding: 1rem;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-size: 6em;
  color: var(--white);
  line-height: 0.8em;
  text-align: left;
}

.blog-container  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.blog-container h1 {
  text-align: center;
  margin-bottom: 65px;
  /* font-size: 100px; */
}

.blog-container p {
  font-size: 20px;
  margin-bottom: 35px;

}

h1 span {
  color: var(--primary);
}

hr {
  margin: 20px 0;
  border-top: none;
}

p {
  color: var(--white);
}

.quotes {
  margin-top: 60px;
}

.avatar-picture {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 50%;
}

.bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

/* .btn-holder:first-child {
  margin-right: 20px;
} */

.floater {
  background: var(--primary);
  position: absolute;
  width: 170px;
  border-radius: 0 130px 130px 0;
  margin: 30px 0 0 -20px;
  padding: 10px;
  text-align: center;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.icon-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  font-size: 3em;
  margin-left: 10px;
}

#story-img {
  width: 300px;
  height: 460px;
  border-radius: 0 130px 0 130px;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.story {
  text-align: right;
  color: var(--white);
  margin-top: 10px;
}

.story p:last-child {
  font-size: 1.7em;
}

/* Login and Registration */
.authBox {
  width: 700px;
  overflow: hidden;
  margin: 80px auto 30px;
}

.leftBox {
  width: 300px;
  height: 480px;
  float: left;
  position: relative;
  display: block;  
}

.bgColor {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-top-left-radius: 90px;
}

.imageAuth {
  background-image: url("https://cdn6.dissolve.com/p/D430_35_244/D430_35_244_1200.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 90px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.imageTextTop {
  font-size: 28px;
  position: absolute;
  color: var(--white);
  font-weight: bold;
  top: 200px;
  left: 20px;
}

.imageTextBottom {
  font-size: 28px;
  position: absolute;
  color: var(--white);
  top: 250px;
  left: 20px;
}

.rightBox {
  width: 398px;
  height: 478px;
  float: right;
  background-color: var(--white);
  border: 1px solid var(--white);
}

.box {
  width: 310px;
  height: 415px;
  margin: 32px auto;
}

.titleAuth {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--dark);
}

.inputSBox {
  width: 300px;
  height: 42px;
  border-bottom: 2px solid var(--white);
  margin-bottom: 10px;
}

.inputS {
  width: 100%;
  height: 98%;
  font-size: 14px;
  color: #37353f;
  text-indent: 10px;
  border: 0;
  outline: none;
}

.contentBox {
  overflow: hidden;
  height: 42px;
  margin-bottom: 30px;
}

.checkboxBox {
  overflow: hidden;
  float: left;
}

.checkbox {
  float: left;
}

.checkboxLabel {
  float: left;
  font-size: 14px;
  margin-left: 5px;
  color: #37353f;
}

.text1 {
  float: right;
  font-size: 14px;
  color: var(--primary);
  cursor: pointer;
}

.btnAuth {
  width: 300px;
  height: 47px;
  color: var(--white);
  background-color: rgb(18, 161, 78);
  text-align: center;
  line-height: 47px;
  border-radius: 4px;
  cursor: pointer;
}

.borderBox{
  width: 300px;
  height: 47px;
  position: relative;
  margin: 20px 0;
}

.line {
  border-bottom: 2px solid var(--white);
  position: absolute;
  top: 22px;
  width: 100%;
}

.text2 {
  font-size: 14px;
  color: #818487;
}

.text2.or {
  position: absolute;
  top: 14px;
  left: 140px;
  width: 25px;
  height: 16px;
  background-color: var(--white);
  text-align: center;
}

.socialMediaBox {
  overflow: hidden;
  width: 184px;
  height: 47px;
  margin: 0 auto;
}

.icAuth {
  width: 41px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 30px;
  cursor: pointer;
}

.icAuth img {
  width: 41px;
}

.icAuth:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .authBox {
    width: 100%;
  }

  .leftBox {
    display: none;
  }

  .rightBox {
    width: 100%;
    float: initial;
    border: 0;
  }
}

/* Nav bar */

.navbar {
  width: 5rem;
  position: fixed;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--white);
  transition: 300ms ease;
  overflow: scroll;
  z-index: 100;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%
}

.nav-item {
  width: 100%;
}

.nav-item-vistor {
  width: 100%;
}

/* Only for authenticated users */
.nav-item:last-child {
  position: absolute;
  bottom: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--nav-text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
 color: #ff7eee;
}

.fa-secondary {
 color: #df49a6 
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--nav-text-secondary);
  background: var(--nav-bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small Phone screens */
@media screen and (max-width: 600px) {

  /* .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  } */

  .logo {
    display: none;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;;
  }

  /* .inner-pages {
    margin: 0;
  } */
}

/* Large Phone screens */
@media only screen and (min-width: 600px) {
  .navbar {
  }

  .inner-pages{
    top: 0;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

/* Search Bar */

.search-bar{
  width: 90%;
  height: 64px;
  background-color: var(--primary);
  transition: .4s;
}
.search-bar input{
  width: 97%;
  padding: 10px 15px;
  margin-right: 25px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  border-bottom: 3px solid var(--dark);
  color: var(--white);
  transition: .4s;
}
.search-bar input::placeholder{
  color:  var(--white);
  font-family: 'Open Sans',sans-serif;
}
/* .search-bar button:hover{
  color: #212121;
  background-color: #fafafa;
}
.search-bar button{
  padding: 10px 25px;
  border: 2px solid #fafafa;
  background-color: transparent;
  color: #fafafa;
  transition: .4s;
} */

/* Explore Page CSS */

.blog-post {
  /* width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  width: 100vw;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

.blog-post .blog-box {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  background: var(--primary);
  /* overflow: hidden; */
  break-inside: avoid;
} 

.blog-post .blog-box .blog-img img {
  max-width: 100%
}

@media (max-width: 1200px) {
  .blog-post {
    columns: 3;
    width: calc(100vw - 120px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

.blog-box {
  position: relative;
  width: 300px;
  height: 400px;
  background: var(--dark);
  box-shadow: 0 30px 30px rgb(0, 0, 0, .5);
}

.blog-box .blog-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-box .blog-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.blog-box:hover .blog-img img {
  opacity: 0;
}

.blog-box .blog-content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: var(--white);
  transition: 0.5s;
  overflow: hidden;

  padding: 15px;
  box-sizing: border-box;
}

.blog-box:hover .blog-content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.blog-box .blog-content h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.blog-box .content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.blog-box:hover .blog-content p {
  opacity: 1;
  transition-delay: 0.5s;
  color: var(--dark);
}

/* User Profile Page */

.user-header {
  background-color: var(--primary);
  height: 175px;
  /* padding-top: 10px; */
}

.user-header ul {
  padding: 0;
}

.user-header li {
  display: inline;
  padding: 10px;
  padding-top: 120px;

  /* font-size: 16px; */
}

.user-left {
  width: 33%;
  float: left;
}

.user-right {
  width: 33%;
  float: right;
}

.user-info {
  background-color: var(--nav-text-primary);
  height: 400px;
}

.user-posts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-post-form form textarea {
  width: 100%;
  height: 300px;
  border: 1px solid var(--dark);
  background: white;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}