* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nirmala UI", sans-serif;
  background: rgb(0, 62, 177);
  background: -webkit-linear-gradient(to right, rgb(160, 183, 217), rgb(0, 71, 177));
  background: linear-gradient(to right, rgb(160, 194, 217), rgb(0, 71, 177))
}